<!DOCTYPE html>
<html>
<head>
	<title>Half Guard | {% block head_title %}{% endblock %}</title>
	{% load staticfiles %}
	<link rel="stylesheet" type="text/css" href="{% static "bower_components/bootstrap/dist/css/bootstrap.min.css" %}">
	<link rel="stylesheet" type="text/css" href="{% static "bower_components/bootstrap/dist/css/bootstrap-theme.min.css" %}">
</head>
<body>

	<h1>{% block title %}Welcome to my Block{% endblock %}</h1>
	{% block content %}
	{% endblock %}

<script type="text/javascript" src="{% static "js/jquery.min.js" %}"></script>
<script type="text/javascript" src="{% static "js/bootstrap.min.js" %}"></script>
</body>
</html>